
<app-navbar></app-navbar>

   
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
       <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <section class="welcome-content">
        <div class="container">
            <h2> Welcome to B & E Personal Budget App</h2>
            <p>Track your finances at one go.</p>

            <h3>Manage Your Budget & Expenses Effectively</h3>
            <p>B & E Tracker is here to help you take control of your finances. With an user-friendly interface and powerful features, you can easily track your expenses, set budgets, and achieve your financial goals.</p>
            <p>Ready to get started? Use the navigation links above to explore the app and start managing your expenses today!</p>
        </div>
    </section>
</div>
</div>
